---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@src/styles/global.css';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href={`${import.meta.env.BASE_URL}fonts/atkinson-regular.woff`} as="font" type="font/woff" crossorigin />
<link rel="preload" href={`${import.meta.env.BASE_URL}fonts/atkinson-bold.woff`} as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="description" content={description}>